
  * {
    box-sizing: border-box; 
   }
 
   body {
     margin: 0;
   }
   #main {
     display: flex;
     min-height: calc(80vh - 10vh);
     background-color: rgb(161, 163, 161);;
     opacity: 100%;
     background-image: url(https://www.pngmart.com/files/3/Mist-PNG-Transparent-Image.png);
     background-position: stretch;

  
   }
   #main > article {
     flex: 1;
   }
   #main > nava, 
   #main > aside {
     flex: 0 0 10vw;
     background: transparent;
     opacity: 100%;
     background-image: url();
     
     opacity: 90%;
   }
   #main > nava {
     order: -1;
   }
   header, footer, article, nava, aside {
     padding: 1em;
   }
   header, footer {
     background: yellowgreen;
     background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.LB3EOKh9dzp3Smqd6feQOAHaCO%26pid%3DApi&f=1);
     background: cover;
     opacity: 90%;
     height: 15vh;
   }



/* .theAppUnderBanner{
        background-color: transparent;
        border: 20px solid #0e0a0a;
        width: 1900px;
        height: 800px;
        perspective: 1000px;
        
         
}

.undertheBannerMiddle{
    border: 1px solid #B22222;
    border-radius: 1px;
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;
    flex-flow: space-around;
    flex-wrap: nowrap;
    padding: 5px 5px;

  }
  .undertheBannerMiddle-Left__Container{
    border: 1px solid #2254b2;
    border-radius: 1px;
    order: -1;
    flex:20%;
    border-radius: 1px;
    padding: 1px 1px;

  
  }
  .undertheBannerMiddle-Center__Container{
    border: 1px solid #2254b2;
    border-radius: 1px;
    order:1;
    
    border-radius: 1px;
    padding: 1px 1px;
  
    
  
  }
  .undertheBannerMiddle-Right__Container{
    border: 1px solid #2254b2;
    border-radius: 1px;
    order:3;
    flex:20%;
    border-radius: 1px;
    padding: 1px 1px;
    
  } */
 /*  */

  