
  * {
    box-sizing: border-box; 
   }
 
   body {
     margin: 0;
   }
   #main {
     display: flex;
     min-height: calc(80vh - 10vh);
     background: rgb(132, 169, 140, 0.50);
     background: rgb(82, 121, 111, 0.50) 75% 75% no-repeat;
     min-width: 300px;
     min-height: 300px;
     box-shadow: inset 0 0 100px #CAD2C5, inset 0 0 100px #CAD2C5, inset 0 0 100px #CAD2C5;
     opacity: 100%;
     background-image: url();
     background-position: stretch;

  
   }
   
   #main > article {
     flex: 1;
   }
   #main > nava, 
   #main > aside {
     flex: 0 0 10vw;
     background: transparent;
     opacity: 100%;
     background-image: url();
     
     opacity: 90%;
   }
   #main > nava {
     order: -1;
   }
   header, footer, article, nava, aside {
     padding: 1em;
   }
   header, footer {
     background: yellowgreen;
     background-image: url(https://i.pinimg.com/564x/4a/a7/a4/4aa7a45145ea0d029c4025b0e5753d38.jpg);
     background: cover;
     opacity: 90%;
     height: 15vh;
   }


  