
  * {
    box-sizing: border-box; 
   }
 
   body {
     margin: 0;
   }
   #main {
     display: flex;
     min-height: calc(80vh - 10vh);
     background-color: rgb(173, 173, 173, 0.50);
     opacity: 100%;
     background-image: url(https://www.pngitem.com/pimgs/m/102-1026439_green-leaves-png-free-image-transparent-background-leaves.png);
     background-position: stretch;

  
   }
   #main > article {
     flex: 1;
   }
   #main > nava, 
   #main > aside {
     flex: 0 0 10vw;
     background: transparent;
     opacity: 100%;
     background-image: url();
     
     opacity: 90%;
   }
   #main > nava {
     order: -1;
   }
   header, footer, article, nava, aside {
     padding: 1em;
   }
   header, footer {
     background: yellowgreen;
     background-image: url(https://i.pinimg.com/564x/4a/a7/a4/4aa7a45145ea0d029c4025b0e5753d38.jpg);
     background: cover;
     opacity: 90%;
     height: 15vh;
   }


  